In [1]:
from joblib import load

In [2]:
model = load('BigMart_modl.joblib')

In [3]:
import pandas as pd

In [4]:
pd.DataFrame([[20.75, 'Low Fat', 0.007564836, 'Snack Foods', 107.8622, 1999,'Tier 1', 'Supermarket Type1', 'Medium']])

,0,1,2,3,4,5,6,7,8
0,20.75,Low Fat,0.007565,Snack Foods,107.8622,1999,Tier 1,Supermarket Type1,Medium

In [5]:
columns = ['Item_Weight', 'Item_Fat_Content', 'Item_Visibility', 'Item_Type',
       'Item_MRP', 'Outlet_Establishment_Year', 'Outlet_Location_Type',
       'Outlet_Type', 'Outlet_Size']

In [6]:
pd.DataFrame([[20.75, 'Low Fat', 0.007564836, 'Snack Foods',
                             107.8622, 1999,'Tier 1', 'Supermarket Type1', 'Medium']],
            columns = columns)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Type,Outlet_Size
0,20.75,Low Fat,0.007565,Snack Foods,107.8622,1999,Tier 1,Supermarket Type1,Medium

In [9]:
pd.DataFrame([[20.75, 'Low Fat', 0.007564836, 'Snack Foods',
                             107.8622, 1999,'Tier 1', 'Supermarket Type1', 'Medium']],
            columns = columns)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Type,Outlet_Size
0,20.75,Low Fat,0.007565,Snack Foods,107.8622,1999,Tier 1,Supermarket Type1,Medium

In [14]:
model.predict(pd.DataFrame([[8.3, 0, 0.038427677, 'Dairy', 87.3198, 2007, 'Tier 2',
        'Supermarket Type1', 'Small']],columns = columns))

array([1481.50342155])